.top_right a.li7{
	background-color: #F77B6F;
	color: white;
}
.content{
	width: 1144px;
	margin: 0 auto;
}
.content_left{
	width: 850px;
	float: left;
}
.content_left ul.ul1{
	width: 850px;
	float: left;
}
.content_left ul.ul1 li{
	width: 850px;
	height: 610px;
	float: left;
	margin-top: 40px;
	border-bottom: 1px dashed #888;
}
.data{width: 120px;
	height: 610px;
	float: left;
}
.data_1{
	width: 120px;
	height: 105px;
	border-radius: 5px;
	float: left;
	overflow: hidden;
}
.data_1a{width: 120px;
	height: 60px;
	color: white;
	text-align: center;
	font-size: 40px;
	background: #f77b6f;
	line-height: 60px;
	float: left;
}
.data_1b{
	width: 120px;
	height: 45px;
	color: #6f6f6f;
	text-align: center;
	font-size: 20px;
	background: #f6f5f0;
	line-height: 45px;
	float: left;
}
.data_2{
	width: 120px;
	height: 88px;
	border-radius: 5px;
	float: left;
	overflow: hidden;
	margin-top: 20px;
}
.data_2a{
	width: 120px;
	height: 50px;
	background: #efeee9;
	float: left;
	text-align: center;
	line-height: 50px;
	color: #ff571a;
	font-size: 20px;
}
.data_2b{
	width: 120px;
	height: 38px;
	color: #6f6f6f;
	text-align: center;
	font-size: 20px;
	background: #f6f5f0;
	line-height: 38px;
	float: left;
}
.data_3{
	width: 120px;
	height: 250px;
	float: left;
	margin-top: 130px;
	text-align: right;
}
.data_3 h3{
	font-size: 20px;
}
.data_3 h3 span,.data .disnormal_p2{
	color: #f87b6f;
}
.data p{
	margin: 0;padding: 0;
}
.data .disnormal_p1{
	margin-top: 30px;
	color: #f87b6f;
}
.reading{
	width: 701px;
	float: left;
	margin-left: 26px;
}
.reading_1,.reading_2,.reading_3,.reading_4,.reading_5{
	width: 701px;
	height: 329px;
}
.reading_1{
	background: url(../images/blogleft01.png) no-repeat;
}
.reading_2{
	background: url(../images/blogleft02.png) no-repeat;
}
.reading_3{
	background: url(../images/blogleft03.png) no-repeat;
}
.reading_4{
	background: url(../images/blogleft04.png) no-repeat;
}
.reading_5{
	background: url(../images/blogleft05.png) no-repeat;
}
.reading p.p1{
	font-size: 28px;
	color: #f87b6f;
	font-family:'Batang Che';
}
.reading p{
	color: #6f6f6f;
	padding-bottom:10px;
}
.reading input{
	float: left;
	width: 144px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	font-size: 16px;
	color: white;
	background: #ff6c60;
	border-radius: 5px;
	border:0;}
.ul2_box{
	width: 850px;
	height: 130px;
	margin: 0 auto;
	float: left;}
.content_left ul.ul2{
	margin: 50px 0;
	border-radius: 5px;
	border:1px solid #ddd;
	height: 30px;
	margin: 30px auto;
	width: 217px;}
.content_left ul.ul2 li{
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
	border-right:1px solid #ddd;
}
.content_left ul.ul2 li.li7{
	border-right: 0;
}
.content_left ul.ul2 li:hover{
	background-color: #ff6c60;
	color: #fff;
}
.content_left ul.ul2 li.li2{
	background: #ff6c60;
	color: white;
}
.content_right{
	width: 265px;
	float: right;
	margin-top: 40px;
}
.content_right input.searchtop{
	padding: 0 10px;
	width: 243px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	color: #333;
	border:1px solid #ccc;
}
.content_right .list{
	padding-bottom: 20px;
}
.content_right .list h3,.content_right .post h3,.content_right .tags h3{
	margin:12px 0;
	font-family: 'BatangChe';
}
.content_right .list div{
	padding-left: 20px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
}
.content_right .post div.postli{
	height: 80px;
	margin: 20px 0;
	overflow: hidden;
}
.content_right .post div.postli img{
	float: left;
	width: 80px;
	height: 80px;
}
.content_right .post div.postli div{
	float: left;
	margin-left: 10px;
	width: 175px;
}
.content_right .post div.postli div h4{
	margin: 0;
}
.content_right .post div.postli div p{
	line-height: 16px;
	font-size: 14px;
	color: #666;
}
.content_right .post div.postli div p strong{
	color: #ff0000;
}
.content_right .tags a{
	float: left;
	margin: 0 10px 10px 0;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
}
.content_right .tags a:hover{
	background-color: #ff571a;
	color: #fff;
	border: 1px solid #ff571a;
}
